.sidebar-collapse__container{
    display: grid;
    grid-template-rows: repeat(5, 20%);
    width: 3%;
    height: 93.5vh;
    background-color: var(--fg__claro);
    box-shadow: 9px 0px 14px 0px rgba(133,130,130,0.30);
    border: none;
    margin-top: 5vh;
    z-index: 1;
}

.sidebar-collapse__icon-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1;
    width: 100%;
    height: 100%;
}
.sidebar-collapse__icon-container .icon img{
    margin: auto;
    width: 100%;
}
.sidebar-collapse__icon-container .icon img:hover{
    border-left: 8px solid var(--naranja__eezy);
    cursor: pointer;
}