.headbar__container{
    display: grid;
    position: fixed;
    top: 0;
    margin-left: 15%;
    grid-template-columns: 5fr 1fr 1fr;
    width: 85%;
    height: 15vh;
}
.headbar__search{
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 5vh 5vh 5vh; 
}
.search__icon{
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
    color: white;
    background-color: rgb(17, 0, 255);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 55%;
    margin-right: 3%;
}
.search__icon svg {
    display: flex;
    justify-content: center;
    fill: white;
    transform: scale(.5);
    }
.search__bar{
    display: grid;
    grid-column: 2;
    grid-row: 2;
}