.headbar__container{
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    z-index: 1;
    height: 7vh;
    background-color: white;
    grid-template-columns: repeat(25, 1fr);
    box-shadow: 0px 0px 6px 1px rgb(199 199 199 / 82%);
}
.headbar__element{
    display: grid;
    grid-column: 1;
    margin: 0;
    padding: 0;
}
.headbar__element img{
    width: 80%;
}
.headbar__element-logo{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
    margin: 0;
    padding: 0px;
}
.headbar__element-logo img{
    width: 60%;
}