:root {
  --azul__eezy: #4F99DD;
  --azul-fuerte__eezy: #F4684A;
  --naranja__eezy: #F4684A;
  --gris__eezy: #606060;
  --gris__eezy-fuerte: #313131;
  --gris__eezy-claro: #D1D0D0;
  --blanco: white;
  --black: black;
  --fg__claro: #F8F7F7;
  --fg__fuerte: #5B5B5B;
  --bg__dark: #525151;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}